body {
  padding-top: 5rem;
}

body, html {
  height: 100%;
}

.video-wrapper {
  width: 100%;
  background-color: lightseagreen;
}

section {
  margin: 1rem;
  padding: 2rem;
  background-color: lightseagreen;
  border-radius: 2em;
}


.backgroundimg {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/13/50/36564b25a8b2293.jpg");
  height: 100%;
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* fixed in viewport */
}
